<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <title>To Do App</title>

</head>

<body>
    <div class="container">
        <div class="header">
            <h1>TO DO APP</h1>
        </div>
        <form action="/" method="POST">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Enter your todos" aria-label="Enter your todos"
                    aria-describedby="button-addon2" name="todo">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-light" id="button-addon2">Submit todo!</button>
                </div>
            </div>
        </form>
        <form action="/delete" method="POST">
            <button class="btn btn-outline-light" type="submit">delete todos</button>
        </form>
        <div class="todos">
            <ul>
                <% if(list.length > 0) { %>
                <% list.map(l => { %>
                <li><%= l %></li>
                <% }) %>
                <% } %>
            </ul>
        </div>
    </div>
    <script>
        const lis = document.querySelectorAll('li')
        lis.forEach(li => {
            li.addEventListener('click', function () {
                const options = {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json; charset=UTF-8'
                    },
                    body: JSON.stringify({
                        singleTodo: li.textContent
                    }),
                }
                fetch('/single-todo', options)
                this.style.display = 'none';
            })
        })
    </script>
</body>

</html>